.main-article {
  margin-bottom: 95px;
  display: block;
  cursor: pointer;
}

.main-article:last-child {
  margin-bottom: 0;
}

.main-article__container {
  display: grid;
  grid-template-columns: repeat(9, var(--grid-column-width));
  gap: var(--grid-gap);
}

.main-article__image-container {
  position: relative;
  grid-column: span 3;
  overflow: hidden;
  min-height: 185px;
  max-height: 344px;
}

.main-article__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-article__content {
  grid-column: 4/-1;
  padding-right: 63px;
}

/* TODO: ВЫПИЛИТЬ НАВЕРНОЕ */
.main-article__category {
  margin-bottom: 7px;
}

.main-article__title {
  margin-bottom: 34px;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
  color: var(--color-primary);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main-article__text {
  margin-bottom: 34px;
  font-size: 22px;
  line-height: 26px;
  color: var(--color-primary);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main-article__caption {
  margin: 28px 0 0;
  display: block;
}
