.header {
  padding-top: 38px;
  padding-bottom: 150px;
}

.header--article-page {
  padding-bottom: 100px;
}

.footer {
  padding-top: 22px;
  padding-bottom: 56px;
  background-color: var(--color-primary);
  min-width: var(--container-width);
}

.footer__link {
  color: var(--color-accent);
  font-weight: 700;
  cursor: pointer;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__navigation {
  margin-bottom: 47px;
}
